{% load static %}

{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static `css/main.min.css` %}"> -->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">

</head>
<body>
    
<div class="mt-6 md:mx-4 lg:mx-20 px-6 py-12 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-2xl text-center md:mb-12" >Newest Items</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
        {% for item in items %}
        <div>
            <a href="{% url 'item:detail' item.id %}">
                <div class="bg-white rounded-xl">
                    <img src="{{ item.image.url }}" class="w-full h-40 md:h-48 rounded-t-xl object-cover">
                    <div class="p-6">
                        <h2 class="text-xl md:text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{item.price}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="mt-6 md:mx-4 lg:mx-20 px-6 py-12 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-2xl text-center md:mb-12" >Categories</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
        {% for category in categories %}
        <div>
            <a href="#">
                <div class="bg-white rounded-xl">
                    <div class="p-6">
                        <h2 class="text-xl md:text-2xl">{{ category.name }}</h2>
                        <p class="text-gray-500">{{category.items.count}} Items</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

</body>
</html>
